.searchLocation {
  .head {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .close {
    background-color: #1a1a1a;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  .form {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    padding: 0 10px;
  }
  .results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
  }
  .result {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
    cursor: pointer;
    &:hover {
      border-color: #646cff;
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
  .search {
    flex-grow: 1;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
    &:hover {
      border-color: #646cff;
    }
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
}
