.current {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 100%;
  .imageStatus {
    flex: 0 1 24%;
    // flex-basis: 24%;
  }
  .info {
    flex: 1 1 50%;
    text-align: right;
    .field {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;
    }
  }
  .time {
    font-size: 28px;
  }
  .temperature {
    font-size: 58px;
    font-weight: 600;
    line-height: 1;
  }
  .location {
    text-align: left;
    cursor: pointer;
  }
  .condition {
    margin-top: 8px;
  }
}
